#myphoto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#myphoto .text {
    max-width: 60%;
}

#myphoto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

